article {
    background-color: var(--White);
    width: 500px;
    margin-top: 600px;
    border-radius: 20px;
    padding: 20px;
    height: max-content;
    box-shadow: -4px 15px 21px 2px rgba(196,196,196,0.51);
-webkit-box-shadow: -4px 15px 21px 2px rgba(196,196,196,0.51);
-moz-box-shadow: -4px 15px 21px 2px rgba(196,196,196,0.51);
}

h1 {
    color: var(--DarkPurple);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    font-size: 40px;
}