span{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    margin-bottom: 5px;
}

button {
    background-color: transparent;
    border: none;
}

hr {
    width: 430px;
    border: 1px solid rgb(245, 244, 244);
    margin: auto;
}

